{% extends 'base.html' %}

{% load static %}

{% block title %}
    Sign Up
{% endblock title %}
{% block content %}
    <header>
        <div>
        
        </div>
        <div>
            <h1>Login</h1>
        </div>
        <nav>
            <ul>
                {% if user.not_authenticated %}
                    <div>
                        <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        <a href="{% url 'list_projects' %}">My projects</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                {% else %}
                    <div>
                        <a href="{% url 'signup' %}">Signup</a>
                    </div>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <form method="post" class="pretty-form">
                {% csrf_token %}
                <div class="form-group">{{ form.as_p }}</div>
                <button type="submit" class="submit-button">Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
</html>
